package xyz.weechang.moreco.component.rbac.service;

import ${classInfo.clazzName};

import xyz.weechang.moreco.core.model.dto.PageModel;
import xyz.weechang.moreco.core.service.BaseService;
import org.springframework.data.domain.Pageable;

/**
 * @author ${request.author}
 * date ${date}
 * time ${time}
 */
public interface ${classInfo.clazzSimpleName}Service extends BaseService<${classInfo.clazzSimpleName}> {

    /**
     * 根据条件分页查询
     *
     * @param param    查询条件
     * @param pageable 分页参数
     * @return 结果
     */
    PageModel<${classInfo.clazzSimpleName}> findAll(${classInfo.clazzSimpleName} param, Pageable pageable);

    /**
     * 查询详情
     *
     * @param id id
     * @return 详情
     */
     ${classInfo.clazzSimpleName} detail(Long id);

}
